@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
  color: #000;
}

a {
  text-decoration: none;
  list-style: none;
  color: #000;
}

/* ===================  LOGIN USUARIO  =================== */

#main-bienvenida {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../img/fondo-bienvenida.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
}

#bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 60px;
  border-radius: 18px;
  height: 250px;
}

#bienvenida-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bienvenida h1 {
  color: #00b941;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px;
}

#bienvenida h2 {
  color: #ef7603;
  font-size: 2rem;
  font-weight: 300;
  margin: 0px;
}

#bienvenida-input-nombre-usuario {
  width: 400px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  font-size: 1.4rem;
  padding: 10px 20px;
  color: #000;
  outline: none;
  background-color: #f4f4f4;
}

#nombre-usuario-input:focus {
  border-color: #000;
}

#bienvenida-contenedor-input-boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

#bienvenida-boton-continuar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
}

#bienvenida-nombre-invalido {
  color: red;
}

/* =========================================== */

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ===================== NAVBAR ================== */

.fa.fa-plus-square {
  color: #00b941;
  font-size: 60px;
}

.fa.fa-cart-plus {
  font-size: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nav-sub-navbar {
  width: 100%;
  background-color: #000;
  height: 30px;
  gap: 250px;
  padding: 6px 0px;
}

#nav-sub-navbar p {
  color: #fff;
}

#nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: #e5e5e5;
  position: relative;
}

#nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#nav-logo h1 {
  @media (max-width: 715px) {
    display: none;
  }
}

#nav-carrito {
  position: absolute;
  right: 100px;
}

#nav-carrito span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: -10px;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  padding: 5px;
  font-size: 12px;
}

/* ======================================= */

/* ===================  PRODUCTOS  ==================== */

.modal-container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal {
  width: 450px;
  height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  padding: 0 54px;
  border-radius: 16px;

  @media (max-width: 580px) {
    width: 160px;
  }
}

.fa.fa-window-close {
  font-size: 3rem;
  cursor: pointer;
  align-self: flex-end;
}

#modal h4 {
  font-size: 2rem;
  text-align: center;

  @media (max-width: 580px) {
    font-size: 1.5rem;
  }
}

.fa.fa-check-circle {
  color: #00b941;
  font-size: 4rem;
}

.fa.fa-exclamation-circle {
  color: red;
  font-size: 4rem;
}

#productos-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 100px;
  flex-direction: row;
  border: 1px solid #e5e5e5;
  width: 75%;
  height: 700px;
  background-color: #fff;
}

.flex-col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#todos-los-productos {
  border-top: 1px solid #e5e5e5;
}

#productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.productos-categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  width: 200px;
  height: 70px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none;
  border-top: none;
  background-color: #fff;
  cursor: pointer;
}

#main-productos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0b3a66;
  padding-bottom: 100px;
}

#main-productos h2 {
  color: #fff;

}

#producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 300px;
  border-radius: 14px;
  padding: 15px 0px;
  gap: 14px;
  background-color: #fff;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

#sub-contenedor-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

#producto img {
  width: 250px;
  height: 150px;
  align-self: center;
}

#producto h5 {
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#agregar-producto-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #00a339;
  font-weight: 600;
  color: #fff;
  align-self: center;
  justify-self: end;
  padding: 6px 18px;
  width: 80%;
  height: 25px;

  &:hover {
    filter: brightness(0.8);
    transition: all 0.5s;
  }
}

#productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  overflow-y: scroll;
}

#producto p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0b3a66;
  margin-bottom: 20px;
}

/* ======================================= */

/* ================= ADMIN DASHBOARD =================== */

ul li {
  margin-right: 100px;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;

  @media (max-width: 1359px) {
    margin-right: 20px;
  }

}

.nav-item-container {
  position: relative;
  display: inline-block;
}

#menu-mobile {
  display: none;
  position: absolute;
  top: 105%;
  left: -56px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  width: 115px;
  padding: 10px;
}

.show-menu {
  display: flex !important;
  flex-direction: column;
}

.menu-mobile-a {
  font-size: 1rem;
  text-align: center;
}

.menu-dropdown-nav {
  display: none !important;
  position: relative;
  font-size: 2rem;
  cursor: pointer;

  @media (max-width:950px) {
    display: block !important;
  }
}

.nav-dashboard-subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  height: 75px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

  @media (max-width:950px) {
    display: none !important;
  }

}

nav ul li a {
  position: relative;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    color: #ef7603;
  }
}

/* nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ef7603;
  transition: width 0.3s ease;
} */

/* nav ul li:hover::after {
  width: 100%;
} */


.flex-col-start-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.formulario-productos {
  border: 2px solid #000;
  border-radius: 12px;
  padding: 24px;
  gap: 22px;
  width: 40%;
  height: 400px;
  background-color: #fff;
}

#formulario-modificar-productos {
  @media (max-width: 1035px) {
    width: 450px;
  }

  @media (max-width: 470px) {
    width: 250px;
  }
}

#formulario-crear-productos {
  width: 100%;

  @media (max-width: 560px) {
    width: 50%;
    padding: 50px;
  }
}

#altaUsers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 400px;
}

#altaUsers-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  align-self: center;
  padding: 8px 64px;
  width: 400px;
  height: 50px;
  cursor: pointer;
  background-color: #00a339;
  color: #fff;
  border: none;
  font-size: 1.1rem;

  @media (max-width: 560px) {
    width: 200px;
  }

  &:hover {
    opacity: 0.7;
    transition: all 0.4s;
  }
}

#altaUsers-container label {
  color: #fff;
  margin-bottom: 7px;
}

#altaUsers-container input {
  margin-bottom: 30px;
  padding: 5px 10px;

  @media (max-width: 560px) {
    width: 200px;
  }
}


.formulario-productos button {
  border-radius: 8px;
  align-self: center;
  padding: 8px 64px;
  width: 400px;
  height: 50px;
  cursor: pointer;
  background-color: #00a339;
  color: #fff;
  border: none;
  font-size: 1.1rem;

  @media (max-width: 560px) {
    width: 200px;
  }

  &:hover {
    opacity: 0.7;
    transition: all 0.4s;
  }
}

.formulario-productos div label {
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 20px;
}

.formulario-productos div input {
  border-radius: 8px;
  height: 25px;
  width: 400px;
  border: 1px solid #ebebeb;
  font-size: 1.1rem;
  padding: 8px 24px;

  @media (max-width: 560px) {
    width: 200px;
  }
}

.formulario-productos div select {
  background-color: #fff;
  border-radius: 8px;
  height: 50px;
  width: 400px;
  border: 1px solid #ebebeb;
  font-size: 1.1rem;
  padding: 12px 22px;

  @media (max-width: 560px) {
    width: 200px;
  }
}

.formulario-productos div select option {
  border-radius: 12px;
  font-size: 1.1rem;
}

#main-crear-productos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
  background-color: #0b3a66;

  @media (max-width: 1100px) {
    height: 150vh;
    justify-content: center;
    align-items: start;
    padding: 0px 50px;
  }
}

#sub-container-crear-productos {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;

  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 70px;
  }
}

#main-crear-productos h1 {
  color: #ef7603;
  margin-top: 0;
  text-align: center;
}

/* =========== MODIFICAR PRODUCTOS (dashboard) ============== */

.flex-row-center-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

#producto-id-activo {
  width: 100%;
}

#main-modificar-productos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 95vh;
  background-color: #0b3a66;

  @media (max-width: 450px) {
    padding: 50px;
  }
}

#main-modificar-productos h1 {
  margin-top: 70px;
  color: #ef7603;
  text-align: center;
}

#input-id-producto {
  height: 30px;
  text-align: center;
  font-size: 1.7rem;
  width: 80px;
  padding: 20px;
  margin-right: 40px;
  border-radius: 8px;
  border: none;
}

#buscar-producto {
  border: none;
  border-radius: 6px;
  background-color: #00a339;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}

#contenedor-producto-encontrado span::first-letter {
  text-transform: uppercase;
}

#contenedor-producto-encontrado span {
  font-size: 1rem;
  font-weight: 600;
  width: 125px;
}

#contenedor-producto-encontrado p {
  font-size: 2rem;
  font-weight: 600;
}

#boton-mostrar-modificacion {
  background-color: #ef7603;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  padding: 10px 40px;
  width: 200px;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
    transition: all 0.5s;
  }
}

#contenedor-producto-encontrado img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/* =========== ELIMINAR y CONSULTAR PRODUCTO ============== */

#main-eliminar-producto,
#main-consultar-producto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 96vh;
  background-color: #0b3a66;
  /* Fondo azul de la vista Modificar */
}

#main-eliminar-producto h1 {
  color: #ef7603;
  text-align: center;
}

#main-consultar-producto h1 {
  color: #ef7603;
  text-align: center;
}

/* Estilo del input y botón de búsqueda (igual que en Modificar) */
.contenedor-formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#input-id-producto {
  height: 30px;
  text-align: center;
  font-size: 1.7rem;
  width: 80px;
  padding: 20px;
  margin-right: 40px;
  border-radius: 8px;
  border: none;
}

#buscar-producto {
  border: none;
  border-radius: 6px;
  background-color: #00a339;
  /* Verde de búsqueda */
  padding: 20px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

/* Contenedor del producto encontrado (Tarjeta Blanca) */
#contenedor-producto-encontrado {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 30px;
  width: 350px;
  height: fit-content;
  padding: 40px;

  @media (max-width: 450px) {
    width: 200px;
    padding: 50px;
  }
}

/* Estilo del botón de confirmación de ELIMINACIÓN */
.btn-eliminar {
  background-color: #dc3545;
  /* Rojo para eliminación */
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  padding: 10px 40px;
  width: 275px;
  white-space: nowrap;
  border: none;
  margin-top: 20px;
  font-weight: 600;

  /* Estilo del hover similar a boton-mostrar-modificacion */
  transition: all 0.5s;
}

.btn-eliminar-confirmar:hover {
  opacity: 0.8;
}

/* Estilos de la imagen y texto dentro de la tarjeta */
#contenedor-producto-encontrado img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.producto-nombre {
  /* H5 o P principal */
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.producto-id,
.producto-precio {
  font-size: 1.2rem;
  color: #555;
  margin: 5px 0;
}

/* Mensajes de Feedback */
.mensaje {
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
}

.error {
  color: #dc3545;
}

.exito {
  color: #00a339;
}

/* ======= INDEX.EJS ========= */

#index-ejs-productos-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px !important;
  flex-direction: row;
  border: 1px solid #e5e5e5;
  width: 70%;
  height: 600px;
  background-color: #fff;
  border-radius: 14px;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: scroll;

  @media (max-width: 715px) {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 500px;
    overflow-y: auto !important;
    overflow-x: hidden;
    justify-content: flex-start;
    align-items: center;
  }

  @media (max-width: 375px) {
    width: 220px;
  }

}

.index-ejs-productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 30px;
}

#index-ejs-main-productos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0b3a66;
  padding-bottom: 100px;
}

#index-ejs-main-productos h2 {
  color: #ef7603;
  font-size: 2rem;
}

#main-login h1{
  @media (max-width: 715px) {
    display: block;
  }
}

#cerrar-sesion {
  @media (max-width: 715px) {
    display: none;
  }
}

.index-ejs-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 300px;
  border-radius: 14px;
  padding: 15px !important;
  gap: 14px;
  background-color: #fff;

  @media (max-width: 715px) {
    height: auto;
    padding: 20px;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  cursor: pointer;
}

.index-ejs-sub-contenedor-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.index-ejs-producto img {
  width: 200px;
  height: 150px;
  align-self: center;
}

.index-ejs-producto h5 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  text-align: center;
}


.index-ejs-producto p {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #0b3a66;
}

#index-ejs-detalles-contenedor-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  background-color: #fff;
  width: 20%;
  height: 600px;
  padding: 30px !important;

  @media (max-width: 1406px) {
    height: auto;
    width: auto;
  }

  @media (max-width: 715px) {
    width: 220px;
  }
}

#index-ejs-main-productos div {
  padding: 0px 20px;
  gap: 30px;

  @media (max-width: 715px) {
    flex-direction: column;
  }
}

#index-ejs-detalles-contenedor-producto img {
  width: 250px;
  height: 200px;
}

#index-ejs-detalles-sub-contenedor-producto {
  text-align: center;
}

#index-ejs-detalles-sub-contenedor-producto h5 {
  margin: 0px;
  font-size: 2rem;
}

#index-ejs-detalles-sub-contenedor-producto p {
  margin: 0px;
  font-size: 1.5rem;
}

#activo {
  color: #00b941;
  font-weight: bold;
  font-size: 1.5rem;
}

#inactivo {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

#desactivar-boton {
  background-color: red;
  color: #fff;
  padding: 7px 12px !important;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

#activar-boton {
  background-color: #00a339;
  color: #fff;
  padding: 7px 12px !important;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

/* ====== LOGIN ====== */

#main-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0b3a66;
}

#main-login h1 {
  color: #fff;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;

  @media (max-width: 445px) {
    align-items: center;
  }
}

#form-login label {
  color: #fff;
  font-size: 1.2rem;
}

#nombreUser {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  width: 400px;
  height: 25px;
  font-size: 1.3rem;
}

.contenedor-inputs-login {
  @media (max-width: 445px) {
    flex-direction: column;
  }
}

#emailUser {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  width: 400px;
  height: 25px;
  font-size: 1.3rem;

  @media (max-width: 445px) {
    width: 200px;
  }
}

#passwordUser {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  width: 400px;
  height: 25px;
  font-size: 1.3rem;

  @media (max-width: 445px) {
    width: 200px;
  }
}

#buttonLogin {
  width: 200px;
  height: 45px;
  cursor: pointer;
  font-size: 1.2rem;
}

#acceso-rapido {
  width: 200px;
  height: 45px;
  cursor: pointer;
  font-size: 1.2rem;
}

#form-login div {
  gap: 20px;
  margin-top: 20px;
}

.logo-login h1 {
  font-size: 3rem;
}

.logo-login i {
  size: 4rem;
}

.error-message {
  border: 1px solid red;
  color: red;
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 40px;
}

#button-logout {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ef7603;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }
}